<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ appTitle }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"> <a routerLink="/" class="btn btn-info">Employees</a> </li>
            <li class="list-inline-item"> <app-managers-list></app-managers-list> </li>
            <li class="list-inline-item">
              <a routerLink="/addemployee" class="btn btn-info"><i class="fas fa-plus-circle"></i> Add Employee</a>
            </li>  
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>